<td class='item-drag-hook'><%= item.escape('rank') %></td>
<td class='item-completed-box'>
  <span class='glyphicon glyphicon-unchecked'></span>
</td>
<td class='item-assignee-btn' data-id='<%= item.escape("id")%>'>
  <div class='dropdown'>
    <a class='dropdown-toggle' data-toggle='dropdown' id='add-member-menu'>
      <span class='glyphicon glyphicon-user'></span>
    </a>
    <div class='dropdown-menu'>
      <form>
        <label>Assignee
          <input class='assignee-email' type='text' name='new_assignee_email' value=<%= item.escape('user_id') || 'Email address' %>></input>
        </label>
        <input class='submit-assignment-btn' type='submit' value='Assign to Me'>
      </form>
    </div>
  </div>
</td>
<td class='item-title editable'>
  <a href='<%= item.urlHelper() %>' class='renderable-item'>
    <%= item.escape('title') %>
  </a>
</td>
<td class='item-collapse-btn'><span class='glyphicon glyphicon-chevron-left'></td>


